body {
  background-color: #6c757d !important;
}
.height {
  min-height: 100vh !important;
}
.width-400 {
  max-width: 400px !important;
}

.img-height {
  max-height: 300px !important;
}
.relative {
  position: relative;
}
.fixed {
  position: absolute;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: rgb(255, 154, 117);
  top: -2px;
  right: -2px;
}
.form-control::placeholder {
  color: #f8f9fa80 !important;
  text-align: center;
  text-transform: capitalize;
}
.form-control:-ms-input-placeholder {
  color: #f8f9fa80 !important;
  text-align: center;
  text-transform: capitalize;
}
.form-control::-ms-input-placeholder {
  color: #f8f9fa80 !important;
  text-align: center;
  text-transform: capitalize;
}
